body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000000;
  }
  
  star {
    position: absolute;
    border-radius: 100%;
    border: 1px solid;
    opacity: 0.8;
  }
  
  line {
    position: absolute;
    border: 0.2px solid;
    opacity: 0.5;
  }
  